version: "3.8"
services:
  pg:
    image: postgres:16
    environment:
      POSTGRES_DB: edu
      POSTGRES_USER: edu
      POSTGRES_PASSWORD: edu
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
