spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:edu}
    username: ${DB_USER:edu}
    password: ${DB_PASSWORD:edu}
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
      encoding: UTF-8
server:
  port: ${PORT:8080}
